<div class="forgot-password-container">
    <div class="card">
      <h2 class="title">Forgot Password</h2>
      <p class="subtitle">Please enter your email address to reset your password.</p>
      <form (ngSubmit)="onSubmit()" [formGroup]="fpForm" >
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            formControlName="email"
            required
            email
            placeholder="Enter your email"
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!fpForm.valid">
          Send
        </button>
      </form>
      <div class="back-to-login">
        <a routerLink="/login">Back to Login</a>
      </div>
    </div>
  </div>