<h1 class="h4 py-3 text-center text-primary">

    <span class="d-none d-lg-inline">
        <strong routerLink="/admin/home">Audio Book</strong>
    </span>
</h1>
<div class="list-group text-center text-lg-start">
    
    <a routerLink="/admin/dashboard" class="list-group-item list-group-item-action " >
        <i class="fas fa-home"></i>
        <span class="d-none d-lg-inline p-3">Dashboard</span>
    </a>
    <a routerLink="/admin/add-book" class="list-group-item list-group-item-action" >
        <i class="fa-solid fa-book"></i>
        <span class="d-none d-lg-inline p-3">Add Books</span>

    </a>
    <a routerLink="/admin/teacher" class="list-group-item list-group-item-action" >
        <i class="fa-solid fa-person-chalkboard"></i>
        <span class="d-none d-lg-inline p-3">All Users</span>
    </a>
    <a routerLink="/admin/course" class="list-group-item list-group-item-action" >
        <i class="fa-solid fa-user"></i>
        <span class="d-none d-lg-inline p-3">Profile</span>
    </a>
</div>
